a {
   outline: 0;
}

// Utils
.capitalize {
    text-transform: capitalize;
}
.uppercase {
    text-transform: uppercase;
}
.no-margin-top {
    margin-top: 0;
}
.truncate-n-lines {
  width: 100%;
  overflow: hidden;
  .show-one-lines {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  .show-two-lines {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .show-three-lines {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .show-four-lines {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
}

//home
.sticky-sale {
    line-height: 1.2rem;
    margin-bottom: 0.8rem;
    img {
        max-height: 150px;
    }
    .title {
        margin-bottom: 0.35rem;
    }
    .subtitle {
        line-height: 1;
        margin-top: 0px;
        color: #534d4d;
        font-style: italic;
    }
}


// Card sale
.card .card-title {
    font-size: 20px;
}
.card.small .card-image, .card.medium .card-image, .card.large .card-image {
    max-height: 65%;
}
.card-excerpt {
    font-size: 1.05rem;
    p {
        margin-top: 2px;
        margin-bottom: 2px;
    }
    p:first-child {
        margin-top: 10px;
    }
}
.modal.bottom-sheet .modal-footer {
    .center-align {
        width: 100%;
        a { margin: auto 5px;}
    }
}


// Gallery
.gallery {
    line-height: 30px;
    -webkit-column-count: 2;
    -webkit-column-gap:   10px;
    -moz-column-count:    2;
    -moz-column-gap:      10px;
    column-count:         2;
    column-gap:           10px;
}
.gallery img {
    width: 100% !important;
    height: auto !important;
}
@media screen and (max-width: 480px) {
    // Gallery
    .gallery {
        -webkit-column-count: 1;
        -moz-column-count:    1;
        column-count:         1;
    }
}


// Related home
.collection-item.avatar .square {
    position: absolute;
    width: 70px;
    height: 57px;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    bottom: 15px;
}
.collection.with-header {
    h5 {
        font-size: 1.45rem;
    }
    .collection-item.avatar {
        padding-left: 95px;
    }
}
.description-table {
    float: right;
    top: 16px;
    right: 16px;
}


// Expansible filters
.icon {
    position: relative;
    width: 30px;
    height: 30px;
    background-color: #fff;
    display: inline-block;
    margin-right: 15px;
    .one, .two {
        position: absolute;
        background-color: #444;
        border-radius: 1px;
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transition: 400ms all ease-out;
        transition: 400ms all ease-out;
    }
    .one {
        top: 23px;
        left: 11px;
        right: 5px;
        height: 4px;
    }
    .two {
        top: 18px;
        left: 16px;
        bottom: -2px;
        width: 4px;
    }
}
.active .icon {
    .two {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
    }
}
.collapsible-body > p > span {
    display: block;
    margin: 0.7rem auto;
}
.collapsible-body p {
    padding: 1rem 2rem;
}



.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-leave,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
    transition:all linear 0.5s;
    opacity:0;
    transform: scale(0);
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
    transition:all linear 0.5s;
    opacity:1;
    transform: scale(1);
}


.tabs .indicator {
    background-color: #006064;
}

i.likeit {
    color: #333;
}
.favorito i.likeit {
    transition:color linear 0.2s;
    color: #00838f;
}
.no-favorito i.likeit {
    transition:color linear 0.2s;
    color: #333;
}
.message-not-like {
    -webkit-animation: fadein 2s;
       -moz-animation: fadein 2s;
        -ms-animation: fadein 2s;
         -o-animation: fadein 2s;
            animation: fadein 2s;
}
@keyframes fadein {
    0% { opacity: 0; }
    80% { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes fadein {
    0% { opacity: 0; }
    80% { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes fadein {
    0% { opacity: 0; }
    80% { opacity: 0; }
    100% { opacity: 1; }
}
@-ms-keyframes fadein {
    0% { opacity: 0; }
    80% { opacity: 0; }
    100% { opacity: 1; }
}
@-o-keyframes fadein {
    0% { opacity: 0; }
    80% { opacity: 0; }
    100% { opacity: 1; }
}

// Override pop up gallery
button.mfp-arrow,
button.mfp-arrow:active,
button.mfp-close,
button.mfp-close:active {
    background-color: transparent !important;
}


#social-icons {
    li {
        float: left;
        margin-right: 5px;
    }
    svg {
        fill: #ffffff;
    }
}
