<div class="col s12 m9">

    <div class="container section">
        <div class="row">

            <div class="col l5 m12 s12">
                <div id="render-form"></div>
            </div>
            <div class="col l7 m12 s12">
                <div id="render-map"></div>
                <div class="row" id="render-location">
                    <div class="col l7 s12">
                        <p class="uppercase italic">Dirección</p>
                        <p>
                            <span id="localizacion-calle"></span><br />
                            <span id="localizacion-ciudad"></span>
                        </p>
                    </div>
                    <div class="col l5 s12">
                        <p class="uppercase italic">Teléfono</p>
                        <p id="localizacion-telefono"></p>
                        <p class="uppercase italic">Correo</p>
                        <p id="localizacion-email"></p>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<script>
    var script = document.createElement('script');
    script.src = localized.get_template_directory_uri+'/js/custom/script.js';
    document.body.appendChild(script);
</script>
